__pycache__
.vscode
create_test_data.py
*.csv
*.json
*.feather
*.db
NflDataLoader/database/schedule/shelves/2012
NflDataLoader/database/schedule/shelves/2013
NflDataLoader/database/schedule/shelves/2014
NflDataLoader/database/schedule/shelves/2015
NflDataLoader/database/schedule/shelves/2016
NflDataLoader/database/schedule/shelves/2017
NflDataLoader/database/schedule/shelves/2018
player.txt
man.py
NflDataLoader/old/pinfo.py
NflDataLoader/old/dbase.py
.idea/misc.xml
.idea/modules.xml
.idea/NflStats.iml
.idea/vcs.xml
.idea/workspace.xml
NflDataLoader/try.py
